@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

.card{
    background-color: #243847;
}

.font{
    font-family: 'Sofia Sans', sans-serif;
}

.progressCard{
    background-color: #243847;
}

.selector{
    background-color: #243847;
    height: 100%;
    width: 30%;
}

.pbc{
    width: 125px;
}

.phead{
    margin-bottom: 30px;
}

.line{
    height: 1px;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(184, 180, 180);
}
.linehead{
    height: 1px;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(184, 180, 180);
}

.bg{
    background-color: #243847;
    padding: 20px;
    border-radius: 20px;
}

.checkbox{
    width: 20px;
}


@media all and (max-width: 1335px) {
    .selector{
        padding: 40px 40px;
    }
}

@media all and (max-width: 1493px) {
    .progresscontainer{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .progressCard{
        padding-bottom: 40px;
    }
}

@media all and (max-width: 719px){
    .progressCard{
        display: none;
    }
}